@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#sectionHomepage2 {
    height: 600px;
    font-family: "Poppins", sans-serif;
}

.sectionHomepage2-title {
    font-weight: 600;
}

#sectionHomepage2-LeftSide {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sectionHomepage2-RightSide {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sectionHomepage2-RightSide-Row {
    width: 100%;
}

.gratioFeatures i {
    color: #8500cc;
    font-size: 50px;
}

.gratioFeatures h3 {
    font-weight: 600;
    font-size: 40px;
}

.gratioFeatures p {
    font-size: 17px;
}

/* time to responsive  */
@media only screen and (max-width: 1400px) {
    #sectionHomepage2 {
        height: 580px;
        font-family: "Poppins", sans-serif;
    }
    .sectionHomepage2-content {
        margin-top: 0px;
    }
    #sectionHomepage2-LeftSide {
        height: 630px;
    }
    #sectionHomepage2-RightSide {
        height: 630px;
    }
}
@media only screen and (max-width: 1200px) {
    #sectionHomepage2 {
        height: 580px;
        font-family: "Poppins", sans-serif;
    }
    .sectionHomepage2-content {
        margin-top: -20px;
    }
    #sectionHomepage2-LeftSide {
        height: 580px;
    }
    #sectionHomepage2-RightSide {
        height: 580px;
    }
}
@media only screen and (max-width: 995px) {
    #sectionHomepage2 {
        height: 560px;
    }
    .sectionHomepage2-content {
        margin-top: 150px;
    }
    #sectionHomepage2-LeftSide {
        height: 400px;
    }
    #sectionHomepage2-RightSide {
        height: 400px;
    }
}
@media only screen and (max-width: 798px) {
    #sectionHomepage2 {
        height: 530px;
    }
    .sectionHomepage-content {
        margin-top: -65px;
    }
}
@media only screen and (max-width: 586px) {
    #sectionHomepage2 {
        height: 800px;
        font-family: "Poppins", sans-serif;
    }
    #sectionHomepage2-LeftSide {
        margin-top: -240px;
        text-align: center;
    }

    .sectionHomepage-content {
        padding-top: 0rem;
    }

    .gratioFeatures {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 450px) {
    #sectionHomepage2-RightSide {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 420px) {
    #sectionHomepage2 {
        height: 800px;
        margin-top: 0px;
    }
    #sectionHomepage2-RightSide {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 380px) {
    #sectionHomepage2 {
        height: 800px;
    }
    #sectionHomepage2-RightSide {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 365px) {
    #sectionHomepage2 {
        height: 870px;
    }
    #sectionHomepage2-RightSide {
        padding-top: 90px;
    }
}

@media only screen and (max-width: 345px) {
    #sectionHomepage2 {
        height: 850px;
        padding-top: 0px;
    }
    #sectionHomepage2-RightSide {
        padding-top: 100px;
    }
    .gratioFeatures i {
        color: #8500cc;
        font-size: 50px;
    }

    .gratioFeatures h3 {
        font-weight: 600;
        font-size: 35px;
    }

    .gratioFeatures p {
        font-size: 17px;
    }
}
/* end of responsive  */
