@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#sectionHomepage2 {
    height: 75vh;
    font-family: "Poppins", sans-serif;
}

.sectionHomepage2-title {
    font-weight: 600;
}

#sectionHomepage2-LeftSide {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sectionHomepage2-RightSide {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sectionHomepage2-RightSide-Row {
    width: 100%;
}

.gratioFeatures i {
    color: #8500cc;
    font-size: 50px;
}

.gratioFeatures h3 {
    font-weight: 600;
    font-size: 40px;
}

.gratioFeatures p {
    font-size: 17px;
}

/* time to responsive  */
@media only screen and (max-width: 1200px) {
    #sectionHomepage2 {
        height: 580px;
        font-family: "Poppins", sans-serif;
    }
}
@media only screen and (max-width: 995px) {
    #sectionHomepage2 {
        height: 630px;
    }
    .sectionHomepage-content {
        margin-top: -90px;
    }
    #sectionHomepage2-LeftSide {
        height: 400px;
    }
    #sectionHomepage2-RightSide {
        height: 400px;
    }
    .sectionHomepage-content {
        padding-top: 10rem;
    }
}
@media only screen and (max-width: 798px) {
    #sectionHomepage2 {
        height: 65vh;
    }
    .sectionHomepage-content {
        margin-top: -65px;
    }
}
@media only screen and (max-width: 586px) {
    #sectionHomepage2 {
        height: 120vh;
        font-family: "Poppins", sans-serif;
    }
    #sectionHomepage2-LeftSide {
        height: 40vh;
        text-align: center;
    }

    #sectionHomepage2-RightSide {
        height: 40vh;
        padding-top: 10rem;
    }

    .sectionHomepage-content {
        padding-top: 0rem;
    }

    .gratioFeatures {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 450px) {
    #sectionHomepage2-RightSide {
        height: 40vh;
        padding-top: 15rem;
    }
}

@media only screen and (max-width: 420px) {
    #sectionHomepage2 {
        height: 1000px;
        padding-top: 70px;
    }
}

@media only screen and (max-width: 380px) {
    #sectionHomepage2 {
        height: 1100px;
        padding-top: 70px;
    }
    #sectionHomepage2-RightSide {
        height: 500px;
        padding-top: 170px;
    }
}

@media only screen and (max-width: 345px) {
    #sectionHomepage2 {
        height: 1000px;
        padding-top: 70px;
    }
    #sectionHomepage2-RightSide {
        height: 500px;
        padding-top: 250px;
    }
    .gratioFeatures i {
        color: #8500cc;
        font-size: 50px;
    }

    .gratioFeatures h3 {
        font-weight: 600;
        font-size: 35px;
    }

    .gratioFeatures p {
        font-size: 17px;
    }
}
/* end of responsive  */
