#GratioClass-Footer {
    height: 97px;
    background-color: #610094;
}

.footerContent {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footerContent p {
    color: white;
}

@media only screen and (max-width: 560px) {
    #GratioClass-Footer {
        text-align: center;
    }
}
