#sectionHomepage1 {
    height: 90vh;
    background-color: #8500cc;
}

#sectionHomepage1-LeftSide {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionHomepage1-Brand {
    color: white;
    font-weight: 600;
}
.sectionHomepage1-shortDesc {
    color: white;
}

/* .sectionHomepage1-button {
    Primary/90
    background: #350052;
    opacity: 0.8;
    border-radius: 36px;

    position: static;
    width: 123px;
    height: 43px;
    left: 30px;
    top: 14.5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;

    color: #ffffff;
} */
/* 
.sectionHomepage1-button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.sectionHomepage1-button::after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.sectionHomepage1-button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.sectionHomepage1-button:hover::after {
    opacity: 1;
    right: 10px;
} */

.sectionHomepage1-button {
    transition: all 0.5s ease;
    color: #fff;
    border: 3px solid white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.sectionHomepage1-button:hover {
    color: #001F3F;
    background-color: #fff;
}

#sectionHomepage1-RightSide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* time to responsive  */
@media only screen and (max-width: 1400px) {
    #sectionHomepage1-RightSide {
        display: none;
    }
}
@media only screen and (max-width: 995px) {
    .sectionHomepage1-Brand {
        color: white;
        font-size: 55px;
    }
    .sectionHomepage1-shortDesc {
        font-size: 20px;
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 586px) {
    .sectionHomepage1-Brand {
        color: white;
        font-size: 35px;
    }
    .sectionHomepage1-shortDesc {
        font-size: 16px;
        width: 80%;
    }
}
@media only screen and (max-width: 392px) {
    .sectionHomepage1-Brand {
        color: white;
    }
}
/* end of responsive  */
